<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Wendy+One"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="styles.css" />

    <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="/public/js/index.js"></script>

    <title>PET PARTY</title>

    <style></style>
  </head>

  <body>
    <br />
    <br />
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#home"
          ><i class="fas fa-cat"></i> Pet Party <i class="fas fa-dog"></i
        ></a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#eventCreate"
                >Create Event</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#newMembers"
                >New Members</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Events">Events</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#myEvents"
                >My Events</a
              >
            </li>

            <li class="nav-item">
              <a
                class="btn btn-info btn"
                data-toggle="modal"
                data-target="#profileModal"
                role="button"
                id="profile"
                ><i class="fas fa-user"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- logo Banner -->
    <div class="container-fluid" id="home">
      <div class="jumbotron">
        <img
          src="logo.jpg"
          alt="responsive logo"
          style="height:auto; width:100%;"
          class="img-fluid"
        />
        <hr class="my-4" />
        <h2>A great place for Pet Lovers to create events and playdates.</h2>
        <a class="btn btn-primary btn-lg" href="#newMembers" role="button"
          >New Member</a
        >
        <a class="btn btn-primary btn-lg" href="#eventCreate" role="button"
          >New Event</a
        >
        <!-- trigger sign in modal -->
        <a
          class="btn btn-info btn-lg"
          data-toggle="modal"
          data-target="#myModal"
          role="button"
          id="submit"
          >Sign In</a
        >
      </div>
    </div>
    <br />
    <br />
    <!-- Event Boards -->
    <div
      class="container"
      id="Events"
      style="background-color:rgb(151, 198, 209);"
    >
      <br />
      <br />
      <br />
      <h2>New Events</h2>
      <hr class="my-4" />
      <div class="card-columns" id="eventArea">
        <div class="card eventCard" style="max-width: 18rem;">
          <img src="dogparks1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Event Name</h5>
            <h6>Date</h6>
            <h6>Time</h6>
            <h6>Party Type</h6>
            <h6>Location</h6>
            <br />
            <button type="button" class="btn btn-outline-info">Going</button>
            <br />
            <br />
            <div class="card-footer">
              <a href="#" class="card-link">location link</a>
            </div>
          </div>
        </div>
        <div class="card eventCard" style="max-width: 18rem;">
          <img src="dogparks2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Event Name</h5>
            <h6>Date</h6>
            <h6>Time</h6>
            <h6>Party Type</h6>
            <h6>Location</h6>
            <br />
            <button type="button" class="btn btn-outline-info">Going</button>
            <br />
            <br />
            <div class="card-footer">
              <a href="#" class="card-link">location link</a>
            </div>
          </div>
        </div>
        <div class="card eventCard" style="max-width: 18rem;">
          <img src="dogparksall.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Event Name</h5>
            <h6>Date</h6>
            <h6>Time</h6>
            <h6>Party Type</h6>
            <h6>Location</h6>
            <br />
            <button type="button" class="btn btn-outline-info">Going</button>
            <br />
            <br />
            <div class="card-footer">
              <a href="#" class="card-link">location link</a>
            </div>
          </div>
        </div>
        <div class="card eventCard" style="max-width: 18rem;">
          <img src="catparty.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Event Name</h5>
            <h6>Date</h6>
            <h6>Time</h6>
            <h6>Party Type</h6>
            <h6>Location</h6>
            <br />
            <button type="button" class="btn btn-outline-info">Going</button>
            <br />
            <br />
            <div class="card-footer">
              <a href="#" class="card-link">location link</a>
            </div>
          </div>
        </div>
        <div class="card eventCard" style="max-width: 18rem;">
          <img src="catparty1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Event Name</h5>
            <h6>Date</h6>
            <h6>Time</h6>
            <h6>Party Type</h6>
            <h6>Location</h6>
            <br />
            <button type="button" class="btn btn-outline-info">Going</button>
            <br />
            <br />
            <div class="card-footer">
              <a href="#" class="card-link">location link</a>
            </div>
          </div>
        </div>
        <div class="card eventCard" style="max-width: 18rem;">
          <img src="catparty3.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Event Name</h5>
            <h6>Date</h6>
            <h6>Time</h6>
            <h6>Party Type</h6>
            <h6>Location</h6>
            <br />
            <button type="button" class="btn btn-outline-info">Going</button>
            <br />
            <br />
            <div class="card-footer">
              <a href="#" class="card-link">location link</a>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- New Member Form -->
    <div
      class="container"
      id="newMembers"
      style="background-color:rgb(151, 198, 209);"
    >
      <br />
      <br />
      <br />
      <br />
      <h2>New to Pet Party?</h2>
      <hr class="my-4" />
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Create a UserName</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Your Name"
          />
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput2">Add a Photo Link</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="Photo Link"
          />
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox1"
            value="option1"
          />
          <label class="form-check-label" for="inlineCheckbox1"
            >Dog Parent</label
          >
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox2"
            value="option2"
          />
          <label class="form-check-label" for="inlineCheckbox2"
            >Cat Parent</label
          >
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox3"
            value="option3"
          />
          <label class="form-check-label" for="inlineCheckbox3"
            >Reptile Parent</label
          >
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox1"
            value="option1"
          />
          <label class="form-check-label" for="inlineCheckbox1"
            >Bird Parent</label
          >
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox2"
            value="option2"
          />
          <label class="form-check-label" for="inlineCheckbox2"
            >Fish Parent</label
          >
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox3"
            value="option3"
          />
          <label class="form-check-label" for="inlineCheckbox3"
            >I Live on an Ark</label
          >
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Pet Names (limit 3)</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            placeholder="PetName1 PetName2 Petname3"
          ></textarea>
        </div>
        <p>*keep your username and email address available to sign in.</p>
      </form>
      <br />
      <button type="submit" class="btn btn-primary">Add Me</button>
      <br />
      <br />
      <br />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- create event form -->
    <div
      class="container"
      id="eventCreate"
      style="background-color:rgb(151, 198, 209);"
    >
      <br />
      <br />
      <br />
      <br />
      <h2>Create a New Event</h2>
      <hr class="my-4" />
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Event Name</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Your Event Name"
          />
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput">Event Date (xx/xx/xx)</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="xx/xx/xx"
          />
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput">Event Time (xx:xx am or pm)</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="xx:xx am or pm"
          />
        </div>

        <div class="form-group">
          <label for="inputAddress2"
            >Event Address Link (check the links tab)</label
          >
          <input
            type="text"
            class="form-control"
            id="inputAddress2"
            placeholder="https://fancydogpark.com"
          />
        </div>

        <div class="form-group">
          <label for="inputAddress">Event Address</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="1234 Main St, City, State"
          />
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput">Host UserName</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Your Name"
          />
        </div>

        <div class="form-group form-check-inline">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox1"
              value="option1"
            />
            <label class="form-check-label" for="inlineCheckbox1"
              >Dog Party</label
            >
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox2"
              value="option2"
            />
            <label class="form-check-label" for="inlineCheckbox2"
              >Cat Party</label
            >
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox3"
              value="option3"
            />
            <label class="form-check-label" for="inlineCheckbox3"
              >Reptile Party</label
            >
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox1"
              value="option1"
            />
            <label class="form-check-label" for="inlineCheckbox1"
              >Bird Party</label
            >
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox2"
              value="option2"
            />
            <label class="form-check-label" for="inlineCheckbox2"
              >Fish Party</label
            >
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox2"
              value="option2"
            />
            <label class="form-check-label" for="inlineCheckbox2"
              >Noah's Ark Party</label
            >
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Create Event</button>
        <br />
        <br />
      </form>
      <br />
      <br />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <!--  My Events Boards -->
    <div
      class="container"
      id="myEvents"
      style="background-color:rgb(151, 198, 209);"
    >
      <br />
      <br />
      <br />
      <br />
      <h2>My Events</h2>
      <hr class="my-4" />
      <div class="card-columns">
        <div class="card" style="max-width: 18rem;">
          <img src="reptileParty.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Event Name</h5>
            <h6>Date</h6>
            <h6>Time</h6>
            <h6>Party Type</h6>
            <h6>Location</h6>
            <br />
            <a
              class="btn btn-outline-info updateBtn"
              data-toggle="modal"
              data-target="#eventUpdate"
              role="button"
              id="updatebtn"
              >UpDate</a
            >
            <br />
            <br />
            <div class="card-footer">
              <a href="#" class="card-link">location link</a>
            </div>
          </div>
        </div>
        <div class="card" style="max-width: 18rem;">
          <img src="catparty1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Event Name</h5>
            <h6>Date</h6>
            <h6>Time</h6>
            <h6>Party Type</h6>
            <h6>Location</h6>
            <br />
            <a
              class="btn btn-outline-info updateBtn"
              data-toggle="modal"
              data-target="#eventUpdate"
              role="button"
              id="updatebtn"
              >UpDate</a
            >
            <br />
            <br />
            <div class="card-footer">
              <a href="#" class="card-link">location link</a>
            </div>
          </div>
        </div>
        <div class="card" style="max-width: 18rem;">
          <img src="dogparksall.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Event Name</h5>
            <h6>Date</h6>
            <h6>Time</h6>
            <h6>Party Type</h6>
            <h6>Location</h6>
            <br />
            <a
              class="btn btn-outline-info updateBtn"
              data-toggle="modal"
              data-target="#eventUpdate"
              role="button"
              id="updatebtn"
              >UpDate</a
            >
            <br />
            <br />
            <div class="card-footer">
              <a href="#" class="card-link">location link</a>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- Sign In Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:rgb(151, 198, 209);">
          <div class="modal-header">
            <h5 class="modal-title">Welcome to the Pet Party</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Sign In w/ Your Name and Email Address.</p>
            <form>
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="sr-only" for="inlineFormInput">UserName</label>
                  <input
                    type="text"
                    class="form-control mb-2"
                    id="inlineFormInput"
                    placeholder="Dog Dad Supreme"
                  />
                </div>
                <div class="col-auto">
                  <label class="sr-only" for="inlineFormInputGroup"
                    >Email Address</label
                  >
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-sign-in-alt"></i>
                      </div>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      id="inlineFormInputGroup"
                      placeholder="PetLoover@Example.com"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" id="signIn">
              Sign In
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Profile Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="profileModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:rgb(151, 198, 209);">
          <div class="modal-header">
            <h5 class="modal-title">My Profile</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="sampleUser.jpg" class="card-img-top" alt="..." />
            <h5 class="card-title">Dog Dad Supreme</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">PetLoover@Example.com</li>
              <li class="list-group-item">Dog Parent</li>
              <li class="list-group-item">
                Capt BaDonkaDonk, Fuzzy Killer, Sid Vicious
              </li>
            </ul>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary" id="signIn">
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Update Event Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="eventUpdate">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:rgb(151, 198, 209);">
          <div class="modal-header">
            <h5 class="modal-title">Update My Event</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form>
                <div class="form-group">
                  <label for="formGroupExampleInput"> Change Event Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="formGroupExampleInput"
                    placeholder="Your Event Name"
                  />
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput"
                    >Change Event Date (xx/xx/xx)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="formGroupExampleInput"
                    placeholder="xx/xx/xx"
                  />
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput">
                    Change Event Time (xx:xx am or pm)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="formGroupExampleInput"
                    placeholder="xx:xx am or pm"
                  />
                </div>
                <div class="form-group">
                  <label for="inputAddress2"
                    >Change Event Address Link (check the links tab)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputAddress2"
                    placeholder="https://fancydogpark.com"
                  />
                </div>
                <div class="form-group">
                  <label for="inputAddress">Change Event Address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputAddress"
                    placeholder="1234 Main St, City, State"
                  />
                </div>
                <br />
                <button type="submit" class="btn btn-primary">
                  Update Event
                </button>
                <br />
                <br />
                <button type="submit" class="btn btn-primary">
                  Delete Event
                </button>
                <br />
                <br />
              </form>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript"></script>
  </body>
</html>
