body {
  min-height: 100vh;
  background: url("./img/grass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Wendy One", sans-serif;
}

#mainNav {
  background: rgba(76, 175, 80, 0.9); /* Green background with 30% opacity */
}

.jumbotron {
  background: none;
}

.card-deck {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}

#test {
  display: -moz-inline-grid;
}
